:root {
	--bg1: #ffffff;
	--bg2: #e3e2fd;
	--bg3: #d0d0eef5;

	--fnt1: #000000;
	--fnt2: #898382;

	--tn1: #ff736c;
	--tn2: #ffc9ce;
	--tn3: #f2e0de;

	--xl: 3em;
	--h1: 1.8em;
	--h2: 1.4em;
	--h3: 1.3em;
	--h4: 1.2em;
	--h5: 1.1em;
	--p: 1.5em;
	--span: 0.9em;
}

.xl {
	font-size: var(--xl);
}
