@media (width < 646px) {
	body {
		.mHeader {
			padding: 0;
			justify-content: center;
			align-items: center;
			.header-title {
				h2,
				h3,
				h4 {
					text-align: center;
				}
				h4 {
					border: none;
				}
			}
		}
		.contact-container iframe {
			max-width: 90%;
		}
	}
}

@media (width <= 1090px) {
	body {
		.mHeader {
			img {
				object-position: 60%;
			}
			.header-title {
				h2.sub {
					font-size: 5em !important;
				}
				h1.tit {
					font-size: 10em !important;
					height: 150px !important;
				}
			}
		}
		.phrase h2 {
			font-size: 3em;
		}
		.features-ownerMsg {
			width: 90% !important;
			left: 50% !important;
			bottom: 100px !important;
			transform: translateX(-50%);
		}
		.flavor.middle {
			width: 350px !important;
			img {
				width: 100% !important;
				height: 200px !important;
			}
		}
		.contact-container {
			flex-direction: column;
			gap: 20px;
		}
	}
}
